<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.delivery.web.login.LoginDAO">

	<select id="login" parameterType="Map" resultType="Map">
		SELECT count(*) as count, mid, mname, mgrade, mno
		FROM member
		WHERE mid=#{id} AND mpw=#{pw}
	</select>

	<update id="autologinCheckbox" parameterType="Map">
		UPDATE member
		SET auto = 1
		WHERE mid=#{mid}
	</update>
	
	<select id="hasNaverUser" parameterType="Map" resultType="Integer">
		SELECT count(*)  
		FROM member
		WHERE mname=#{Nname}
	</select>
	
</mapper>
