<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.delivery.web.mypage.MyPageDAO">
	
	<select id="profile" parameterType="String" resultType="Map">
		select mname, mprofile
		FROM member
		WHERE mid = #{id}
	</select>
	
	<update id="updateProfileImg" parameterType="Map">
		update member set mprofile = #{file}
		where mid = #{mid}
	</update>
	
	<select id="follow" parameterType="String" resultType="Map">
		select (select count(*) from follow where fdel = 1 AND (follower = (select mno from member where mid = #{id}) or
			 followee = (select mno from member where mid = #{id})))
			as friend
		,(select count(*) from follow where followee = (select mno from member where mid = #{id}) and fdel = 0) as friendreq
	</select>
	
	<select id="boardlist" parameterType="String" resultType="Map">
		select bno, bcontent, blike, bdate, commentcount
		from boardview where mid = #{id}
	</select>
	
</mapper>