<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.delivery.web.store.StoreDAO">

	<select id="list" parameterType="Integer"
		resultType="com.delivery.web.store.StoreDTO">
		SELECT DISTINCT s.*
		FROM storeview s
		JOIN menu m ON s.sno = m.sno
		WHERE m.mncate = #{mncate};
	</select>

	<select id="detail" parameterType="Integer" resultType="com.delivery.web.store.StoreDTO">
		SELECT sno, store_name, store_image, average_rating,
		review_count
		FROM storeview
		WHERE sno = #{sno}
	</select>

	<select id="getMenuList" parameterType="Integer"
		resultType="com.delivery.web.store.MenuDTO">
		SELECT mnno, mnname, mnprice, mnimg
		FROM menu
		WHERE sno =
		#{sno}
	</select>

	<select id="storeinfo"
		resultType="com.delivery.web.store.StoreDTO">
		SELECT * FROM store
		WHERE sno = #{sno}
	</select>
	
	
	<select id="menudetail" parameterType="Integer" resultType="com.delivery.web.store.MenuDTO">
	SELECT mnname, mnprice, mnimg, mndesc
		FROM menu
		WHERE mnno = #{mnno}
	</select>
	




</mapper>