<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.delivery.web.store.StoreDAO">

	<select id="list" parameterType="String" resultType="com.delivery.web.store.StoreDTO">
		SELECT * FROM storeview
	</select>

	<select id="detail" parameterType="Integer" resultType="Map">
		SELECT s.store_name, s.average_rating, s.review_count, s.store_image, m.mnname, m.mnprice, m.mnimg
		FROM storeview s
		LEFT JOIN menu m ON s.sno = m.sno
		WHERE s.sno=#{sno}
	</select>









</mapper>