<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.delivery.web.trade.TradeDAO">

	<select id="trade" resultType="java.util.Map">
		select  * FROM tradeview where mid=#{id}
	</select>
	
	<select id="tradegroup" resultType="MAP" parameterType="map">
		WITH DistinctRnoCount AS (
		    SELECT t.tgroup, COUNT(DISTINCT r.rno) AS distinctRnoCount
		    FROM tradeview t
		    LEFT JOIN review r ON t.tgroup = r.tgroup
		    WHERE t.mid = #{id}
		    GROUP BY t.tgroup
		)
		SELECT
		    t.tgroup, t.tamount, mnname, sname, total, t.sno, tdate, SUM(total) OVER (PARTITION BY t.tgroup) AS realtotal,
		    SUM(tamount) OVER (PARTITION BY t.tgroup) AS totaltamount, cpno, drc.distinctRnoCount AS count
		FROM
		    tradeview t
		LEFT JOIN
		    review r ON t.tgroup = r.tgroup
		LEFT JOIN
		    DistinctRnoCount drc ON t.tgroup = drc.tgroup
		<where>t.mid=#{id}
				<choose>
					<when test="serchN == 'sname'">AND sname LIKE CONCAT('%', #{serch}, '%')</when>
					<when test="serchN == 'mnname'">AND mnname LIKE CONCAT('%', #{serch}, '%')</when>
				</choose>
		</where>
	</select>
	
	<select id="tradedetail" resultType="Map" parameterType="String">
		SELECT tgroup, tamount, mnname, sname, sname, total, tdate, cpno, total, ttotal
		FROM tradeview
		WHERE tgroup=#{tgroup}
	</select>
	
	<select id="tradecp" resultType="Map" parameterType="String">
		SELECT puse, pbalance, c.cpname, c.cpprice
		FROM point p
		LEFT JOIN coupon c ON p.cpno = c.cpno
		WHERE tgroup=#{tgroup} AND p.cpno = 1
	</select>
	
	<select id="reviewgroup" resultType="Map" parameterType="Integer">
		SELECT *
		FROM tradeview
		WHERE sno=#{sno}
	</select>
	
	<insert id="saveReview" parameterType="MAP">
		INSERT INTO review (sno, rcomment, mno, tno, rscore)
		VALUES (#{sno}, #{review}, #{mno}, #{tno}, #{rscore})
	</insert>
	
</mapper>
