@charset "UTF-8";

html,body {
      position: relative;
      height: 100%;
    }

body {
	font-family: 'NanumSquareNeo';
	margin: 0;
    padding: 0;
}

td {
	font-weight: bold;
	font-size: 13px;
}
table {
	margin-bottom: 20px;
}
#location {
    float : left;
    display: flex;
    align-items: center;
	width:120px;
	height: 40px;
	background: #EB5757;
	border-radius: 60px;
	margin-top: 40px;
	margin-left: 10px; 
	align-items: center;
	color:white;
	font-weight:bold;
	display:flex; 
	position: relative;
	text-align: right;
} 

#location div {
	position: relative;
    left: 5%;
}

#location i {
    margin-top: 10px;
}

#randomfood {
	margin-right: 40px;
	margin-top: 20px; 
}
#location span {
	margin-left:1px;
	line-height: 1.5;
    display: inline-block;
    word-spacing:15px;
    vertical-align: middle;
}

button {
	display: block;
	margin: 0 auto; 
	width: 50px;
	height: 30px;
	border-radius: 30px;
	border: none;
	font-weight: bold;
	font-size: 15px; 
	color: #ffffff;
	background-color: #EB5757;
	font-family: 'NanumSquareNeo';
}

#ordername{
	font-size: 13px;
}


#nowbutton {
	display: block;
	margin: 0 auto;
	margin-top:-30px;
	width: 70px;
	height: 30px;
	border-radius: 40px;
	border: none;
	font-weight: bold;
	font-size: 13px; 
	color: #ffffff;
	background-color: #EB5757;
	font-family: 'NanumSquareNeo';
	
	
}
a {
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.restraunt-list {
	flex-wrap: wrap; 
	justify-content: space-between;
	display: flex;
	margin-left:-10px;
	margin-top: 30px;
	font-size: 30px;
}
.imgready{
	width: 70px;
	height: 70px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#foodcategory {
	margin-left: 10px;
	margin-top: 40px;
	line-height: 4.0;
	font-size : 15px;
	font-weight:bold;
	clear: both; 
    float: left;
}

.foodimg {
	border-radius: 10px;
}





