@charset "UTF-8";

html,body {
      position: relative;
      height: 100%;
    }



body {
	font-family: 'NanumSquareNeo';
	margin: 0;
    padding: 0;
}

table {
margin-left: 25px;
}

th {
font-size: large;
}

#location {
    float : left;
	width:25%;
	height: 45px;
	background: #EB5757;
	border-radius: 60px;
	margin: 20px auto;
	margin-left: 30px; 
	align-items: center;
	color:white;
	font-weight:bold;
	display:flex; 
	position: relative;
	text-align: right;
} 

#location div {
	position: relative;
    left: 5%;
}

#location i {
    margin-right: 10px; 
}

#randomfood {
	margin-right: 40px; 
}

#randomfood  h1{
	margin-right: 10px; 
}

button {
	margin: 0 auto; 
	width: 80px;
	height: 35px;
	border-radius: 20px;
	border: none;
	font-weight: bold;
	font-size: 17px;
	display: block; 
	color: #ffffff;
	background-color: #EB5757;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: black;
}


#foodcategory {
	margin-left: 60px;
	line-height: 3.5;
	font-size : 17px;
	clear: both; 
    float: left;
}






