@charset "UTF-8";
/*@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');*/

* {
	font-family: 'NanumSquareNeo';
}
html, body{
margin: 0;
padding:0;
}

/* profile */
.profile{
	position: absolute;
	left: 3.5%;
	right: 83.54%;
	top: 11%;
	bottom: 81.45%;
	
}

.profile-image{
	width: 150px;
	height: 150px;
	border-radius: 80px;
}


/* 닉네임 */
.nickname{
	margin-left:170px;
	margin-top:70px;
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 27px;
	/* or 150% */
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
	white-space: nowrap;
}



/* 냠냠 다이어리 */
.diary{
	position: absolute;
	left: 6%;
	top: 35%;
	display: flex;
    flex-direction: column; /* 요소 내의 요소들을 수직으로 나열합니다. */
    align-items: center; /* 요소를 수직으로 중앙 정렬합니다. */
    text-align: center;
	
}

.diary p {
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	/* identical to box height, or 150% */
	
	color: #000000;
}



/* 나의 찜 */
.zzim{
	position: absolute;
	left: 38%;
	top: 35%;
	bottom: 64.84%;
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
	
}

.zzim p{
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	
	color: #000000;
}

img{
	width: 100px;
	height: 100px; 
}


/* 리뷰관리 */
.review{
	position: absolute;
	left: 72%;
	right: 7%;
	top: 35%;
	bottom: 64.26%;
	
	/* identical to box height, or 150% */
	display: flex;
	flex-direction: column; /* 요소 내의 요소들을 수직으로 나열합니다. */
    align-items: center; /* 요소를 수직으로 중앙 정렬합니다. */
    text-align: center;
	
}

.review p{
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
}



/* 쿠폰함 */
.coupon{
	position: absolute;
	left: 22%;
	top: 51%;
	bottom: 45.7%;
	
	/* identical to box height, or 150% */
	display: flex;
	flex-direction: column; /* 요소 내의 요소들을 수직으로 나열합니다. */
    align-items: center; /* 요소를 수직으로 중앙 정렬합니다. */
    text-align: center;
}

.coupon p{
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
}



/* 냠냠페이 */
.pay{
	position: absolute;
	left: 55%;
	top: 50%;
	bottom: 45.7%;
	
	/* identical to box height, or 150% */
	display: flex;
	flex-direction: column; /* 요소 내의 요소들을 수직으로 나열합니다. */
    align-items: center; /* 요소를 수직으로 중앙 정렬합니다. */
    text-align: center;
}

.pay p{
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
}



/* + 밥친구 추가 네모 */
.follow, .unfollow1, .followAccept, .unfollow3 {
	position: absolute;
	left: 41%;
	right: 57%;
	top: 20%;
	bottom: 82%;
	width: 165px;
	height: 33px;
	background: #EB5757;
	border-radius: 50px;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	/* or 135% */
	display: flex;
	align-items: center;
	text-align: center;
	cursor: pointer;
	 justify-content: center; /* 텍스트를 수평으로 가운데 정렬하기 위해 추가 */
     color: #FFFFFF;
     border: none; /* border를 제거하기 위해 추가 */
}

.followAcceptModal, .cartbtn, .cpbtn, .purchasebtn{
	margin-top: 30px;
	height: 33px;
	background: #EB5757;
	border-radius: 50px;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	/* or 135% */
	align-items: center;
	text-align: center;
	cursor:pointer;
	 justify-content: center; /* 텍스트를 수평으로 가운데 정렬하기 위해 추가 */
     color: #FFFFFF;
     border: none; /* border를 제거하기 위해 추가 */
}


/* 밥친구 6 | 친구 요청 10 */
.HowManyfollow{
	position: absolute;
	left: 41%;
	top: 27%;
	bottom: 84.77%;
	
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	/* or 150% */
	display: flex;
	align-items: center;
	text-align: center;
	
	color: #000000;
}



/* {닉네임}님의 최애 맛집은? */
.favoriteStore{
	position: absolute;
	left: 25%;
	top: 73%;
	bottom: 35.64%;
	margin: 0 auto;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	/* or 150% */
	display: flex;
	align-items: center;
	text-align: center;
	
	color: #000000;
}



/* 최애맛집 */
.favoriteStoreComponent{
	position: relative;
	width: 300px;
	height: 50px;
	left: 45px;
	top: 530px;
	margin:1px;
	background: #FF9C41;
	border-radius: 10px;
	margin: 5px;
	font-size:20px;
	display: flex;
	align-items: center;
	text-align: center;
}


/* {닉네임}님은 카페/디저트 러버! */
.favoriteCate{
	position: absolute;
	left: 27%;
	top: 103%;
	bottom: 36.33%;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	/* or 150% */
	display: flex;
	align-items: center;
	text-align: center;
	
	color: #000000;
	
}



/* image 3 */
.favoriteCateGoogleChart{
	position: absolute;
	left: 67px;
	top: 105%;
	width: 270px;
	height: 270px;
}



/* 마이페이지 */
.mypage{
	box-sizing: border-box;
	
	position: absolute;
	left: 7%;
	right: 7%;
	top: 5.47%;
	bottom: 89.94%;
	
	border-bottom: 3px solid #000000;
	
}


/* Heading 3 → Shipping Method */
.mypageFont{
	position: absolute;
	height: 22px;
	left: 2px;
	top: 5px;
	
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 22px;
	/* identical to box height, or 68% */
	display: flex;
	align-items: center;
	
	color: #1F1F1F;
	
}