@charset "UTF-8";
@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');
body{
	font-family: 'NanumSquareNeo';
}
/* profile */
.profile{
	position: absolute;
	left: 8.61%;
	right: 83.54%;
	top: 9%;
	bottom: 81.45%;
	
}

.profile-image{
	width: 128px;
	height: 128px;
	border-radius: 60px;
}


/* 닉네임 */
.nickname{
	position: absolute;
	left: 25%;
	right: 65%;
	top: 7%;
	bottom: 82.91%;
	
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	/* or 150% */
	display: flex;
	align-items: center;
	text-align: center;
	
	color: #000000;
}



/* 냠냠 다이어리 */
.diary{
	position: absolute;
	left: 15.46%;
	right: 72%;
	top: 20%;
	bottom: 64.84%;
	display: flex;
    flex-direction: column; /* 요소 내의 요소들을 수직으로 나열합니다. */
    align-items: center; /* 요소를 수직으로 중앙 정렬합니다. */
    text-align: center;
	
}

.diary p {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	/* identical to box height, or 150% */
	
	color: #000000;
}



/* 나의 찜 */
.zzim{
	position: absolute;
	left: 46%;
	right: 40%;
	top: 20%;
	bottom: 64.84%;
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
	
}

.zzim p{
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	
	color: #000000;
}



/* 리뷰관리 */
.review{
	position: absolute;
	left: 77%;
	right: 15%;
	top: 20%;
	bottom: 64.26%;
	
	/* identical to box height, or 150% */
	display: flex;
	flex-direction: column; /* 요소 내의 요소들을 수직으로 나열합니다. */
    align-items: center; /* 요소를 수직으로 중앙 정렬합니다. */
    text-align: center;
	
}

.review p{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
}



/* 쿠폰함 */
.coupon{
	position: absolute;
	left: 17.5%;
	right: 75%;
	top: 35%;
	bottom: 45.7%;
	
	/* identical to box height, or 150% */
	display: flex;
	flex-direction: column; /* 요소 내의 요소들을 수직으로 나열합니다. */
    align-items: center; /* 요소를 수직으로 중앙 정렬합니다. */
    text-align: center;
}

.coupon p{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
}



/* 냠냠페이 */
.pay{
	position: absolute;
	left: 46.46%;
	right: 45%;
	top: 35%;
	bottom: 45.7%;
	
	
	/* identical to box height, or 150% */
	display: flex;
	flex-direction: column; /* 요소 내의 요소들을 수직으로 나열합니다. */
    align-items: center; /* 요소를 수직으로 중앙 정렬합니다. */
    text-align: center;
}

.pay p{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
}



/* + 밥친구 추가 네모 */
.follow, .unfollow1, .followAccept, .unfollow3 {
	position: absolute;
	left: 33%;
	right: 45%;
	top: 11%;
	bottom: 87%;
	
	background: #EB5757;
	border-radius: 50px;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	/* or 135% */
	display: flex;
	align-items: center;
	text-align: center;
	cursor: pointer;
	 justify-content: center; /* 텍스트를 수평으로 가운데 정렬하기 위해 추가 */
     color: #FFFFFF;
     border: none; /* border를 제거하기 위해 추가 */
}

.followAcceptModal, .cartbtn, .qtyChange, .cpbtn, .purchasebtn{
	margin-top: 30px;
	height: 33px;
	background: #EB5757;
	border-radius: 50px;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	/* or 135% */
	align-items: center;
	text-align: center;
	cursor:pointer;
	 justify-content: center; /* 텍스트를 수평으로 가운데 정렬하기 위해 추가 */
     color: #FFFFFF;
     border: none; /* border를 제거하기 위해 추가 */
}


/* 밥친구 6 | 친구 요청 10 */
.HowManyfollow{
	position: absolute;
	left: 60%;
	top: 8%;
	bottom: 84.77%;
	
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	/* or 150% */
	display: flex;
	align-items: center;
	text-align: center;
	
	color: #000000;
}



/* {닉네임}님의 최애 맛집은? */
.favoriteStore{
	position: absolute;
	left: 14.44%;
	right: 62.43%;
	top: 50%;
	bottom: 35.64%;
	
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	/* or 150% */
	display: flex;
	align-items: center;
	text-align: center;
	
	color: #000000;
}



/* 최애맛집 */
.favoriteStoreComponent{
	position: relative;
	width: 350px;
	height: 50px;
	left: 100px;
	top: 1300px;
	margin:1px;
	background: #FF9C41;
	border-radius: 10px;
	margin: 5px;
	font-size:large;
	font-weight:bold;
	display: flex;
	align-items: center;
	text-align: center;
}


/* 메가커피 강남점 */
.favoriteStoreComponentFont{
	
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	/* or 150% */
	display: flex;
	align-items: center;
	text-align: center;
	
	color: #000000;
}



/* 8회 주문 */
.favoriteStoreComponentTrade{
	position: absolute;
	left: 63.1%;
	right: 9.05%;
	top: 16%;
	bottom: 18%;
	
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	/* or 150% */
	display: flex;
	align-items: center;
	text-align: center;
	
	color: #263238;
	
}



/* 728972_gold_medal_award_badge_prize_icon 1 */
.favoriteStoreComponentMedal{
	position: absolute;
	left: 5.48%;
	right: 86.9%;
	top: 18%;
	bottom: 18%;
	
	background: url(728972_gold_medal_award_badge_prize_icon.png);
	
}


/* {닉네임}님은 카페/디저트 러버! */
.favoriteCate{
	position: absolute;
	left: 55.76%;
	right: 21.11%;
	top: 50%;
	bottom: 36.33%;
	
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	/* or 150% */
	display: flex;
	align-items: center;
	text-align: center;
	
	color: #000000;
	
}



/* image 3 */
.favoriteCateGoogleChart{
	position: absolute;
	width: 296px;
	height: 278px;
	left: 53%;
	top: 60%;
	
}



/* 마이페이지 */
.mypage{
	box-sizing: border-box;
	
	position: absolute;
	left: 5%;
	right: 3%;
	top: 2.73%;
	bottom: 92.68%;
	border-bottom: 3px solid #000000;
	
}


/* Heading 3 → Shipping Method */
.mypageFont{
	position: absolute;
	width: 164px;
	height: 22px;
	left: 2px;
	top: 5px;
	
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 22px;
	/* identical to box height, or 68% */
	display: flex;
	align-items: center;
	
	color: #1F1F1F;
	
}