@charset "UTF-8";
.hr{
	border-top: 3px solid black;
}
.totalcount{
	color:#1f1f1f;
	text-align:left;
	vertical-align:text-middle;
	font-size:28px;
	font-family:Dosis;
	line-height:21.600000381469727px;
	border-style:hidden;
	outline:none;
	width:237px;
	font-weight: bold;
	margin:10px;
	position:relative;
	top: 200px;
}
.profile{
	width:76px;
	height:78px;
	top:640px;;
	position:absolute;
	margin: 10px;
}
.examine{
	color:rgba(31, 31, 31, 0.5899999737739563);
	text-align:left;
	vertical-align:text-middle;
	font-size:22px;
	font-family:Dosis;
	line-height:21.600000381469727px;
	border-style:hidden;
	outline:none;
	width:420px;
	left:30%;
	position:relative;
	top: -150px;
}
.mnickname{
	text-align:left;
	font-size:28px;
	font-family:Dosis;
	position:absolute;
	font-weight: bold;
	left:100px;
	margin:10px;
}
.mnickname a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 기본 텍스트 색상 유지 */
}
.rate{
	position: relative;
 	display: flex;
  	flex-direction: row-reverse;
  	font-size: 2.25rem;
  	line-height: 2.5rem;
  	padding: 0 0.2em;
  	text-align: center;
  	width: 20em;
  	border: none;
  	left: -400px;
  	top: 60px;
  	justify-content: flex-start;
}
.rate input {
  	display: none;
}
.rate label{
	order: 1;
  	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  	-webkit-text-stroke-width: 2.3px;
  	-webkit-text-stroke-color: #2b2a29;
  	cursor: pointer;
  	margin-right: 10px; /* 별들 사이의 간격을 조절합니다. */
}
.rate :checked ~ label {
  	-webkit-text-fill-color: gold;
  	
}

.rddate{
	color:#000000;
	text-align:left;
	vertical-align:text-middle;
	font-size:20px;
	font-family:Dosis;
	line-height:21.600000381469727px;
	border-style:hidden;
	outline:none;
	position:relative;
	left : 350px;
	top :20px;
}
.rcomment{
	color:#000000;
	text-align:left;
	vertical-align:text-middle;
	font-size:24px;
	font-family:Dosis;
	line-height:21.600000381469727px;
	border-style:hidden;
	outline:none;
	margin:50px;
	position:relative;
	left :60px;
	top: 40px;
}
.rphoto{
	height:211px;
	width:297px;
	position:relative;
	left :100px;
}
.totalrscore{
	color:#000000;
	text-align:center;
	vertical-align:text-middle;
	font-size:64px;
	font-family:Dosis;
	line-height:21.600000381469727px;
	border-style:hidden;
	outline:none;
	width:208px;
	margin : 30px;
	position:relative;
	left :60px;
	font-weight: bold;
}
.stroeAvg{
	margin:5px;
	position:relative;
	top : -240px;
}
.chart{
	position:relative;
	left :450px;
}
