@charset "UTF-8";


body {
font-family: 'NanumSquareNeo';
	margin: 0;
	padding: 0;
}

 .foodimg {
width: 100%; 
max-height: 250px;
position: relative;
margin-top: -60px;
z-index: -1;
background-repeat: no-repeat;
background-size: cover;
        
    }

table {
margin-left: 15px;
border-spacing: 10px;
}

th, td{
font-size: 20px;
}

a {
  text-decoration: none;
  color:black;
}

#storename {
	margin-left: 15px;
	font-weight:bolder;
	font-size: 25px;
}

#storestar, #menumix {
	margin-left: 10px;
	font-weight:bold;
	font-size: 25px;
}
#menubest {
	margin-left: 35px;
	font-weight:normal;
	font-size: 25px;
}

#storeinfo {
	float:right;
	width: 120px;
	height: 50px;
	position: relative;
	margin-right:10px;
    top: -60px;
	border-radius: 30px;
	border:none;
	font-weight:bold;
	font-size:17px;
	color: #ffffff;
	background-color: #EB5757;
	font-family: 'NanumSquareNeo';
	
}

#menulist > div {
	    display:flex;
	    align-items:center;
        margin-bottom: 10px;
        background-color: #EB5757;
    }

#menuname, #menuprice {
        flex: 1;
    }

#menuimg {
       float: right;
    }           

button {
	border:none;
	background: none;
	
}    

#wishlist {
    margin-top: -40px;
}

.menuimg {
border-radius: 10px;	
}
