@charset "UTF-8";
.hr{
	border-top: 3px solid black;
}
body {
	font-family: 'NanumSquareNeo';
	color: #000;
	margin: 0;
	padding: 0;
}
.search{
	position: relative;
	left:13px;
	top: 30px;
	bottom: 73.69%;
	width: 85%;
	height: 45px;
	
	background: #EB5757;
	border: none;
	border-radius: 50px;
}
.search::placeholder {
	position: relative;
	font-weight: bold;
	font-size: 15px;
	top : 2px;
	left:10px;
	vertical-align: middle;
	color: #FFFFFF;
	
}
.searchBtn{
	position: relative;
	border: none;
	background: #EB5757;
	left:-44px;
	top: 40px;
	cursor: pointer;
}
.tradeBox{
	position: relative;
	top: 40px;;
	background-color:#ffffff;
	height:222px;
	border:3px solid #eb5757;
	margin: 10px;
}
.tradedate{
	position: relative;
	color:#000000;
	vertical-align:text-middle;
	font-size:15px;
	font-family:Dosis;
	line-height:21.600000381469727px;
	border-style:hidden;
	outline:none;
	width:276px;
	left:20px;
	top: 10px;
	font-weight: bold;
}
.sampleimg{
	height:80px;
	width:80px;
	left:20px;
	top:50px;
	position:absolute;
}
.Sname{
	color:#000000;
	text-align:left;
	font-size:22px;
	font-family:Dosis;
	line-height:21.600000381469727px;
	border-style:hidden;
	outline:none;
	top:60px;
	left:105px;
	position:absolute;
	font-weight: bold;
}

.tradeMnname{
	color:#000000;
	text-align:left;
	vertical-align:text-middle;
	font-size:18px;
	font-family:Dosis;
	line-height:21.600000381469727px;
	border-style:hidden;
	outline:none;
	top:90px;
	left:105px;
	position:absolute;
	width:236px;
	font-weight: bold;
}
.tradeDetailBtn{
	background-color:#ff9b40;
	height:30px;
	width:350px;
	border-radius:50px;
	border-style:hidden;
	padding:0px;
	top:54%;
	left:5%;
	position:relative;
	cursor: pointer;
}
.tradeDetailText, .reviewText{
	color:#ffffff;
	text-align:center;
	vertical-align:text-middle;
	font-size:18px;
	font-family:Dosis;
	line-height:25px;
	border-style:hidden;
	outline:none;
	top:3px;
	left:23%;
	position:absolute;
	width:196px;
	font-weight: bold;
	letter-spacing: 20px;
}
.reviewBtn{
	background-color:#eb5757;
	height:30px;
	width:350px;
	border-radius:50px;
	border-style:hidden;
	padding:0px;
	top:58%;
	left:5%;
	position:relative;
	cursor: pointer;
}
.cpno{
	position:relative;
	background-color:#ff9b40;
	height:15px;
	width:100px;
	border-radius:50px;
	top: -30%;
	left: 70%;
}
.cpnotext{
	color:#ffffff;
	text-align:center;
	vertical-align:text-middle;
	font-size:10px;
	font-family:Dosis;
	line-height:27px;
	border-style:hidden;
	outline:none;
	top:-7px;
	left: -48%;
	position:absolute;
	width:196px;
	font-weight: bold;
}
.serchN{
	position:relative;
	background-color:#eb5757;
	border-style:#000000;
	border :none;
	height:30px;
	width: 70px;
	left: 5px;
	top:10px;
	cursor: pointer;
}
.tradenull{
	position:relative;
	font-size:80px;
	font-family:Dosis;
	top:140px;
	margin: 80px;
}